.footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    position: relative;
    bottom: 0;
    max-width: 100%;
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.rrss {
    display: flex;
    gap: 2vw;
}

.copyright {
    text-align: center;
}